.create__container {
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.title {
    letter-spacing: -1px;
    color: #222
}

.cp, .title {
    text-align: center
}

//.cp {
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
//    background-color: #fff;
//    padding: 2rem;
//    max-width: 400px;
//    margin-left: auto;
//    margin-right: auto;
//    box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
//}

.cp_shown .cp {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    max-width: 400px
}


.react-color-picker__saturation-spectrum {
    width: 90% !important
}

.react-color-picker, .react-color-picker *, .react-color-picker__hue-spectrum, .react-color-picker__hue-spectrum *, .react-color-picker__saturation-spectrum, .react-color-picker__saturation-spectrum * {
    box-sizing: border-box
}

.react-color-picker__hue-spectrum, .react-color-picker__saturation-spectrum {
    position: relative;
    display: inline-block
}

.react-color-picker__saturation-spectrum {
    cursor: pointer
}

.react-color-picker__saturation-spectrum .react-color-picker__saturation-drag {
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0
}

.react-color-picker__saturation-spectrum .react-color-picker__saturation-drag .react-color-picker__hue-inner, .react-color-picker__saturation-spectrum .react-color-picker__saturation-drag .react-color-picker__saturation-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 10px
}

.react-color-picker__saturation-black, .react-color-picker__saturation-white {
    position: relative;
    width: 100%;
    height: 100%
}

.react-color-picker__saturation-white {
    background: linear-gradient(90deg, #fff, hsla(20, 42%, 65%, 0))
}

.react-color-picker__saturation-black {
    background: linear-gradient(0deg, #000, hsla(20, 42%, 65%, 0))
}

.react-color-picker__saturation-drag {
    width: 15px !important;
    height: 15px !important;
    border: 3px solid hsla(0, 0%, 100%, .7) !important;
    border-radius: 50%
}

.react-color-picker__hue-spectrum {
    width: 10% !important
}
.react-color-picker__hue-spectrum {
    background: linear-gradient(180deg, red 0, #ff0 17%, lime 33%, cyan 50%, blue 67%, #f0f 83%, red);
    cursor: pointer
}

.react-color-picker__hue-spectrum .react-color-picker__hue-drag {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.react-color-picker__hue-drag {
    height: 6px !important;
    border: 1px solid rgba(0, 0, 0, .7) !important
}

.selected__color--active {
    cursor: pointer
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.color-samples-container {
    background-color: #fff;
    margin-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

.color-samples-container h2 {
    margin: 0;
    margin-left: 5rem;
    margin-top: 0
}


.color-samples-wrapper {
    padding-top: 2rem
}

.color-sample {
    cursor: pointer;
    width: 100%;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    border-radius: .4rem
}

.color-sample .fa {
    transition: opacity .2s;
    opacity: 0
}

.color-sample--selected .fa, .color-sample:hover .fa {
    opacity: 1
}

.color-samples-footer {
    padding: 2rem 1rem
}

.color-samples-footer .btn {
    margin-left: 1.5rem
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-size: 1.5rem;
    border: 1px solid transparent;
    user-select: none;
    transition: background-color .2s
}

.btn--default {
    color: #222;
    background-color: #fff;
    border-color: #d5d5d5
}

.btn--default:hover {
    background-color: #f5f5f5
}

.btn--default:active {
    background-color: #d5d5d5
}

.btn--primary {
    color: #fff;
    background-color: #e91e63;
    border-color: #d81558
}

.btn--primary:hover {
    background-color: #d81558
}

.btn--primary:active {
    background-color: #c1134e
}

.btn--danger {
    color: #fff;
    background-color: #e64c3c;
    border-color: #d42d1b
}

.btn--danger:hover {
    background-color: #d42d1b
}

.btn--danger:active {
    background-color: #bd2818
}


.create__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.mixer {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: .4rem;
    margin-left: 1.5rem;
    cursor: pointer;
    text-transform: uppercase
}

.cp_shown {
    background-color: red;
    position: relative;
    width: 100%
}

@media (min-width: 550px) {
    .color-samples-footer {
        padding: 3rem
    }
}

@media (min-width: 900px) {
    .color-samples-footer {
        padding: 3rem 5rem
    }
}

@media (min-width: 900px) {
    .color-sample {
        margin: 1rem
    }

    .color-sample:first-of-type {
        margin-left: 0
    }

    .color-sample:last-of-type {
        margin-right: 0
    }
}

@media (min-width: 900px) {
    .selected__color {
        height: 5rem;
        width: 5rem;
        padding: 1.3rem;
        margin: 1rem
    }
}