.holder__body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.holder__title {
    padding-left: 1rem
}

.sample {
    padding: 2rem;
    border: 1px solid #d5d5d5;
    margin: 1rem;
    cursor: pointer;
    border-radius: .4rem;
    transition: background-color .1s
}

.sample__color {
    display: block;
    width: 100%;
    height: 50px
}

.sample__name {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.4rem
}