.export-table {
    overflow-y: scroll;
    width: 100%;
    text-align: center;
    border-collapse: collapse
}

.export-table td, .export-table th {
    padding: 1rem;
    border: 1px solid #ccc
}

.export-table th {
    background-color: #f5f5f5;
    padding: 1rem
}

.export-table input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 1rem
}

.export-table input:focus {
    outline: 0;
    border-bottom-color: #e91e63
}

.hex {
    text-transform: uppercase
}

.preprops__links {
    padding: 2rem 3rem
}

.preprops__links .btn {
    margin-right: 1.5rem;
    text-transform: capitalize
}

.export__title {
    padding: 2rem 3rem;
    margin: 0;
    margin-top: 3rem
}

.preprops__code {
    background-color: #f5f5f5;
    padding: 2rem 3rem
}

.code__colored {
    color: #e91e63
}